div.contactForm {
  position: relative;
  top: 40px;
}

main div.contactForm form.contactForm input.name,
main div.contactForm form.contactForm input.email,
main div.contactForm form.contactForm input.subject,
main div.contactForm form.contactForm textarea.message {
  border: 5px solid #000000;
  background: #111111;
  margin: 0 0 17px 0;
  padding: 15px;
  color: #ffffff;
  transition: border 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

main div.contactForm form.contactForm input.name::-ms-input-placeholder,
main div.contactForm form.contactForm input.name::placeholder,
main div.contactForm form.contactForm input.email::-ms-input-placeholder,
main div.contactForm form.contactForm input.email::placeholder,
main div.contactForm form.contactForm input.subject::-ms-input-placeholder,
main div.contactForm form.contactForm input.subject::placeholder,
main div.contactForm form.contactForm textarea.message::-ms-input-placeholder,
main div.contactForm form.contactForm textarea.message::placeholder {
  color: #ffffff;
  opacity: 1;
}

main div.contactForm form.contactForm input.name:active,
main div.contactForm form.contactForm input.name:hover,
main div.contactForm form.contactForm input.name:focus,
main div.contactForm form.contactForm input.email:active,
main div.contactForm form.contactForm input.email:hover,
main div.contactForm form.contactForm input.email:focus,
main div.contactForm form.contactForm input.subject:active,
main div.contactForm form.contactForm input.subject:hover,
main div.contactForm form.contactForm input.subject:focus,
main div.contactForm form.contactForm textarea.message:active,
main div.contactForm form.contactForm textarea.message:hover,
main div.contactForm form.contactForm textarea.message:focus {
  border: 5px solid #ffffff;
  transition: border 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

main div.contactForm form.contactForm button.submit {
  border: 5px solid #000000;
  text-decoration: none;
  transition: border 0.5s ease, color 0.5s ease, background-color 0.5s ease;
  background: #111111;
  padding: 12px 34px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: auto;
}

main div.contactForm form.contactForm button.submit:active,
main div.contactForm form.contactForm button.submit:hover,
main div.contactForm form.contactForm button.submit:focus {
  border: 5px solid #ffffff;
  transition: border 0.5s ease, color 0.5s ease, background-color 0.5s ease;
  background: #000000;
  color: #ffffff;
}

@media screen and (min-width: 601px) {
  main div.contactForm form.contactForm input.name,
  main div.contactForm form.contactForm input.email {
    width: calc(25% + 102px);
  }

  main div.contactForm form.contactForm input.subject,
  main div.contactForm form.contactForm textarea.message {
    width: calc(50% + 250px);
  }
}

@media screen and (max-width: 600px) {
  main div.contactForm form.contactForm input.name,
  main div.contactForm form.contactForm input.email,
  main div.contactForm form.contactForm input.subject,
  main div.contactForm form.contactForm textarea.message {
    border: 5px solid #000000;
    width: calc(50% + 59px);
  }

  main div.contactForm form.contactForm button.submit {
    width: calc(50% + 100px);
  }
}
