.repo-card .avatar {
  position: absolute;
  top: 5px;
  left: 5px;
  border: 2px solid #ffffff;
}

.repo-card .avatar img {
  display: block;
  width: 48px;
  height: 48px;
}

.repo-card h1 {
  margin: 0;
  padding: 0;
  line-height: 148px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.repo-card h1 a {
  color: #ffffff;
  text-decoration: none;
}

.repo-card h1 a:hover {
  opacity: 0.8;
}

.repo-card .content p {
  font-size: 16px;
  padding: 10px 20px;
}

.repo-card p a {
  text-decoration: none;
  color: #4183c4;
  outline: 0;
}

.repo-card .status li {
  width: 50%;
}

.repo-card .C {
  background: #555555;
}

.repo-card .CSS {
  background: #563d7c;
}

.repo-card .HTML {
  background: #e44b23;
}

.repo-card .JavaScript {
  background: #f1e05a;
}

.repo-card .Python {
  background: #3581ba;
}

.repo-card .Ruby {
  background: #701516;
}

.repo-card .Rust {
  background: #dea584;
}

.repo-card .Go {
  background: #375eab;
}

.repo-card .Java {
  background: #b07219;
}

.repo-card .Objective-C {
  background: #438eff;
}
