a.link {
  border: 5px solid #000000;
  text-align: center;
  max-width: 636px;
  display: block;
  padding: 10px;
  height: 24px;
  margin: auto;
  transition: border 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

a.link:link,
a.link:visited {
  text-decoration: none;
  color: #ffffff;
}

a.link:hover,
a.link:focus,
a.link:active {
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
  transition: border 0.5s ease, color 0.5s ease, background-color 0.5s ease;
  border: 5px solid #ffffff;
}