nav.nav-bar {
  background-color: #000000;
  list-style-type: none;
  overflow: hidden;
}

nav.nav-bar ul {
  margin: 0;
  padding: 0;
}

nav.nav-bar ul li {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
  width: 50px;
}

p.main-name {
  margin: 14px 16px;
  display: inline;
  color: #ffffff;
  float: left;
}

img.icon {
  color: #ffffff;
  height: 20px;
  width: auto;
}

img.fab {
  max-height: 20px;
  width: auto;
}

nav.nav-bar ul li a {
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
  display: block;
  color: #ffffff;
}

nav.nav-bar ul li a:hover:not(.active) {
  background-color: #111111;
}

div.left {
  float: left;
}

div.right {
  float: right;
}
