section.project {
border: 5px solid #000000;
text-align: center;
max-width: 500px;
padding: 10px;
margin: auto;
color: #ffffff;
transition: border 0.5s ease, color 0.5s ease, background-color 0.5s ease;
}

section.project:hover,
section.project:focus,
section.project:active {
  background-color: #000000 !important;
  color: #ffffff !important;
  transition: border 0.5s ease, color 0.5s ease, background-color 0.5s ease;
  border: 5px solid #ffffff !important;
  text-decoration: none;
}

a.project-link:link,
a.project-link:visited {
  text-decoration: none;
}

div.text {
  display: table;
}

img.project {
  max-width: 150px;
  float: left;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

span.tittle {
  font-size: x-large;
  font-weight: 700;
}

span.written-in {
  font-weight: 700;
}
