div.resumeIFrame {
  top: 52px;
}

@media screen and (min-width: 601px) {
  object.resumeContentObject {
    display: none;
  }
  
  iframe.resumeContentIFrame {
    display: block;
  }

  nav.nav-bar ul div#nav-bar-button.right li.resume-download-button {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  body {
    background: #1E1E1E !important;
    background-color: #1E1E1E !important;
  }

  object.resumeContentObject {
    display: block;
  }
  
  iframe.resumeContentIFrame {
    display: none;
  }

  nav.nav-bar ul div#nav-bar-button.right li.resume-download-button {
    display: inline !important;
  }
}