# dkim record dns entry
dkim_record.txt

# private keys for signing
private_key.pem
private_key.txt

# temporarily leave resume in code base
# until another solution replaces creddle

# resume used in reference
resume.pdf
