name: Main to Production Workflow

on:
  workflow_dispatch:
    inputs:
      workflow_dispatch_trigger:
        required: true
        type: boolean
        default: true
  push:
    branches:
      - main
      - production

jobs:
  verified_commit_check_main:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Check for Unverified Commits
        uses: nadock/verified_commits_check@v1

  cleanup:
    needs: verified_commit_check_main
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || ${{ inputs.workflow_dispatch_trigger }}
    steps:
      - name: Checkout Main Branch
        uses: actions/checkout@v4
        with:
          ref: main
          token: ${{ secrets.GH_TOKEN }}

      - name: Set up Python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: 3.9

      - name: Update APT Registry
        run: sudo apt update

      - name: Remove Mozilla FireFox, Google Chrome, and Google Chromium
        run: sudo apt purge firefox google-chrome-stable chromium-browser

      # - name: Remove Google Chrome
      #   run: sudo apt purge google-chrome-stable

      # - name: Remove Google Default Chromium
      #   run: sudo apt purge chromium-browser

      - name: Install a Specified Chromium
        run: sudo apt install -y chromium-browser=1:85.0.4183.83-0ubuntu2.22.04.1

      - name: Remove Unneeded Packages
        run: sudo apt autoremove

      - name: Clean Deprecated Packages
        run: sudo apt autoclean

      - name: Clean APT Packages
        run: sudo apt clean

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 pandas webdriver-manager selenium

      - name: Run resume.py
        run: python .github/workflows/resume.py

      - name: Remove .vscode Folder
        run: rm -rf .vscode

      - name: Remove .gitignore File
        run: rm .gitignore

      - name: Remove README.md File
        run: rm README.md

      - name: Remove SiteMap Reference file
        run: rm sitemap.old.xml

      - name: Set Up Git User
        run: |
          git config --local user.email "noreply@zayedkherani.com"
          git config --local user.name "GitHub Action"

      - name: Import GPG Signing Key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          trust_level: 5

      - name: Push To Production Branch
        run: |
          git checkout -b production
          git add .
          COMMIT_MSG="main: $(git log -1 --pretty=%B)"
          git commit --signoff -m "$COMMIT_MSG"
          git push -f origin production

  verified_commit_check_production:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/production'
    steps:
      - name: Check for Unverified Commits
        uses: nadock/verified_commits_check@v1

      - name: Checkout Production Branch
        uses: actions/checkout@v4
        with:
          ref: production
          token: ${{ secrets.GH_TOKEN }}

      - name: Remove .github Folder
        run: rm -rf .github

      - name: Set Up Git User
        run: |
          git config --local user.email "noreply@zayedkherani.com"
          git config --local user.name "GitHub Action"

      - name: Import GPG Signing Key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          trust_level: 5

      - name: Push to Production Branch
        run: |
          git checkout -B production
          git add .
          COMMIT_MSG="production: $(git log -1 --pretty=%B)"
          git commit --signoff -m "$COMMIT_MSG"
          git push -f origin production

      - name: Check for Unverified Commits
        uses: nadock/verified_commits_check@v1
